# Environnement virtuel
venv/

# Fichiers Python compilés
__pycache__/
*.pyc

# Base de données locale
*.db

# Variables d'environnement
.env

# Configuration VS Code
.vscode/

# Dépendances frontend
node_modules/